bin/Web_Admin.dll
bin/Web_Admin.dll.config
bin/Web_Admin.pdb
Web_Admin.csproj
Web_Admin.csproj.user
Web.Release.config
Web.Debug.config
obj/Debug/Web_Admin.pdb
obj/Debug/Web_Admin.dll
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/Web_Admin.csproj.FileListAbsolute.txt
obj/Debug/Web_Admin.csprojResolveAssemblyReference.cache
Web.config
Web.config