<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" slidingExpiration="true" timeout="30" name="Web_Admin" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <pages autoEventWireup="true" compilationMode="Always" validateRequest="false" />
  </system.web>
  <appSettings>
    <!--Oracle连接字符串-->
    <add key="strconn" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.20.70.21)(PORT=1521))(CONNECT_DATA=(SID=cusdoc)));User Id=cusdoctool;Password=custool20160718;Pooling=true;Min Pool Size=100;Max Pool Size=1000;" />
    <add key="strconn_z" value="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.252.14)(PORT = 1521))(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.252.15)(PORT = 1521))(LOAD_BALANCE = yes))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = custdb)(FAILOVER_MODE =(TYPE = SELECT)(METHOD = BASIC)(RETRIES = 180)(DELAY = 5))));User Id=cusdoctool;Password=custool20160718;Pooling=true;Min Pool Size=100;Max Pool Size=1000;"/>
    <!--获取Redis缓存库的路径-->
    <add key="RedisServer" value="172.20.70.20" />
    <add key="UrlPrefix" value="http://localhost:8013" />
  </appSettings>
  
  <location path="PdfEdit.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  
  <location path="PdfTab.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="PdfTabNew.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  
  <location path="PdfView.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="NoticeEdit.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0" maxRequestLength="2097151" />
      <pages validateRequest="false" />
    </system.web>
  </location>

  <location path="NoticeEdit_Publish.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
      <pages validateRequest="false" />
    </system.web>
  </location>
  
  <system.webServer>
    <security>
      <requestFiltering>
        <!--500MB-->
        <requestLimits maxAllowedContentLength="500000000" />
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>